<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.rent.dao.PowerDao">
    <select id="getPList" resultType="map">
        select * from tb_power
    </select>
    <select id="getTree" resultType="map">
        select * from tree
    </select>
</mapper>